<% var news%>
<% var best%>
<% var newsbycategory%>
<style>
    p{
    
    box-sizing: border-box;
    margin: 0px 0px 20px;
    padding: 0px; 
    line-height: 24px;
    font-size: 18px;
    color: #1e211f;
    position: relative;
    font-family: Montserrat;
    }
    img {
    display: block;
    height: auto;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 3px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #7A7D7B;
    }
    .company__item{
        cursor: pointer;
    }
</style>
        <section class="uzb">
            <div class="container">
                <div class="uzb__inner">
                    <div class="uzbekistan__time">
                        <span class="prevtext"><%= news.categoryID.name.ru%></span>
                        <div class="data__contents">
                            <span class="intro__time"><%= moment(news.createdAt).format("DD.MM.YYYY") %></span> <span class="clock__time"><%= news.createdAt.toTimeString().replace(/:\d+ /, ' ').split(" ")[0]%></span>
                        </div>
                        
                        <%if(links) {%>
                        <div class="uzb__link">
                            <a class="uzb-icon" href="<%= links[0].tg%>">
                                <img class="icon__soc" src="/images/social__icon/fotoicon1.svg" alt="telegram">
                            </a>
                            <a class="uzb-icon" href="<%= links[0].insta%>">
                                <img class="icon__soc" src="/images/social__icon/fotoicon2.svg" alt="Instagram">
                            </a>
                            <a class="uzb-icon" href="<%= links[0].tw%>">
                                <img class="icon__soc" src="/images/social__icon/fotoicon3.svg" alt="Twitter">
                            </a>
                            <a class="uzb-icon" href="<%= links[0].fb%>">
                                <img class="icon__soc" src="/images/social__icon/fotoicon4.svg" alt="facebook">
                            </a>
                        </div>
                        <% }%>
                    </div>
                    <a class="uzb__title side__title" >Популярное</a>
                </div>
            </div> <!-- container -->
        </section> <!-- uzb end -->


        <section class="jaxon">
            <div class="container">
                <div class="jaxon__inner">
                    <div class="jaxon__content">
                        <div class="jaxon__head">
                            <h4 class="jaxon__title"><%= news.name.ru%></h4>
                            <%if(news.title.ru){%>
                            <p class="jaxon__info"><%= news.title.ru%></p>
                            <% }%>
                        </div>
                        <%if(news.videoLink) {%>  
                        <div class="jaxon__video">
                            <iframe width="1017" height="472" src="<%= news.videoLink%>"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                            <% } else{%>
                        <div class="jaxon__video">
                            <div class="jaxon__photo">
                                <img src="<%= news.poster.min%>" alt="jaxon__img" class="jaxon__images">
                                <%if(news.imageInfo){%>
                                <a class="img__link" ><%= news.imageInfo%></a>
                                <% }else{%>
                                <a class="img__link" ></a>
                                <% }%>
                            </div>
                        </div>
                        <% }%> 
                        
                        <%if(news.description.ru) {%>
                            <%-news.description.ru%>
                        <% }%>
                        <%for(item of news.images){%>
                            <div class="jaxon__video">
                                <div class="jaxon__photo">
                                    <img src="<%= item.url%>" alt="jaxon__img" class="jaxon__images">
                                </div>
                            </div>
                            <%}%>
                        <%if(news.editor){%>
                            <div class="bottom__border">
                                <p class="jaxon__text text"> <br>
                                    <span class="author"><%= news.editor%></span>
                                </p>
                            </div>  
                           <% }else{%>
                            <div class="bottom__border">
                            </div>  
                            <% }%>
                        <div class="company__link">
                            <%let tag= news.tags.split('#')%>
                            <% if(tag[1]){%>
                                <form action="/ru/news/tags/search" class="search" style="margin-left: 0; display:inline;">
                                <input style="padding: 0;" class="search-txt" type="text" name="search" value="<%= tag[1]%>" >
                                    <button style="padding: 6px 20px;" type="submit" class="company__item">
                                        #<%= tag[1]%> 
                                    </button>
                                </form>
                            <% }%>
                            <% if(tag[2]) {%>
                                <form action="/ru/news/tags/search" class="search" style="margin-left: 0; display:inline;">
                                <input style="padding: 0;" class="search-txt" type="text" name="search" value="<%= tag[2]%>" >
                                    <button style="padding: 6px 20px;" type="submit" class="company__item">
                                        #<%= tag[2]%>
                                    </button>
                                </form>
                            <%}%>
                            <%if(tag[3]){%>
                                <form action="/ru/news/tags/search" class="search" style="margin-left: 0; display:inline;">
                                <input style="padding: 0;" class="search-txt" type="text" name="search" value="<%= tag[3]%>" >
                                    <button style="padding: 6px 20px;" type="submit" class="company__item">
                                        #<%= tag[3]%>
                                    </button>
                                </form>
                            <%}%>
                            </form>
                        </div>
                        <div class="telegram__link">
                            <a class="telegram__page" href="<%= links[0].tg%>">
                                Следуйте за нами в телеграмме
                            </a>
                        </div>

                    </div> <!-- jaxon__content -->
                    <div class="jaxon__sidebar">
                        <%for(item of best) {%>
                        <div class="sidebar__box">
                            <a class="sidebar__body" href="/ru/news/name/<%=item.search%>">
                                <span class="sidebar__time intro__time"><%= moment(item.createdAt).format("DD.MM.YYYY") %></span> <span
                                    class="clock__time"><%= item.createdAt.toTimeString().replace(/:\d+ /, ' ').split(" ")[0]%></span>
                                <span class="eyes"><%= item.seen%></span>
                                <p class="body__text text"><%= item.name.ru%></p>
                            </a>
                        </div>
                        <% }%>
                        <div class="all__side">
                            <a class="link__side" href="/ru/news/mostseen/24">Больше новостей</a>
                        </div>
                    </div>
                </div> <!-- jaxon__inner-->
            </div> <!-- container -->
        </section> <!-- intro end -->

        <section class="theme">
            <div class="container">
                <h4 class="theme__title side__title">Новости по теме</h4>
                <div class="theme__content">
                    <% for(item of newsbycategory) {%>
                    <a class="theme__body" href="/ru/news/name/<%=item.search%>">
                        <div class="theme__images">
                            <img class="news__photo" src="<%= item.poster.org%>" alt="news__photo">
                        </div>
                        <div class="news__content">
                            <div class="data__content">
                                <span class="prevtext"><%= item.categoryID.name.ru%></span>
                                <div class="bottom__time_data">
                                    <span class="intro__time"><%= moment(item.createdAt).format("DD.MM.YYYY") %></span> <span class="clock__time"><%= item.createdAt.toTimeString().replace(/:\d+ /, ' ').split(" ")[0]%></span>
                                </div>
                            </div>
                            <p class="body__text text"><%= item.name.ru%></p>
                        </div>
                    </a>
                    <% }%>
                </div><!-- theme content end -->
            </div>
        </section> <!-- theme end -->
<script>
</script>